[submodule "dot/config/nvim"]
	path = dot/config/nvim
	url = git@github.com:Ezka77/kickstart.nvim.git
[submodule "dot/config/tmux/plugins/tpm"]
	path = dot/config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
